[Desktop Entry]
Exec=lumina_password
Icon=preferences-desktop-cryptography
Terminal=false
Type=Application
StartupNotify=True
Categories=Utility;
MimeType=
Name=Lumina Password Generator
Comment=Simple UI to generate passwords
